
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
background-color: 	#484848;
  font-family: Arial, Helvetica, sans-serif;
}

.contact{
  padding: 4%;
 height: 90vh;
  
}
.col-md-3{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}


.card {
  width: 15vw; 
  margin: 10px;
}



.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.jhunya {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cdtext {
  display: flex;
  align-items: center;
  gap: 5px;
}

.jhuni {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
margin-top: 100px;
}